body {
    background-color: #FFFFFF;
}

a {
    text-decoration:underline;
    color: #1F1E1F;
    font-size: 16px;
    font-family: helvetica;
    font-weight: lighter;
}

p {
    color: #1F1E1F;
    font-family: helvetica;
    font-size: 16px;
    font-weight: lighter;
}


h1 {
    position: fixed;
    margin-top: 7%;
    max-width: 500px;
    margin: auto;
    color: #1F1E1F;
    font-family: helvetica;
    font-weight: normal;
    font-size: 28px;
    border-bottom: 1px black;
}

h2 {
    max-width: 500px;
    float: center;
    margin: auto;
    color: #1F1E1F;
    font-family: helvetica;
    font-weight: normal;
    font-size: 20px;
}

nav {
    max-width: 500px;
    float: center;
    margin: auto;
}

img {
    float: center;
    width: auto;
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#content {
     max-width: 1000px;
     margin-left: 7%;
}

#clear-about {
    clear: both;
}

::selection {
  background: #ECD6C0;
}
