body{
    background-color: #ffffff; 
    font-family: 'system-ui', sans-serif;
    font-weight: 300;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 

a {
    position: relative;
    color: #000000; 
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}


a:hover {
    text-decoration: none;
}

p {
    color: #000000;
    line-height: 25px;
    margin-bottom: 40px;
}

h1 {
    color: #000000;
    font-variant: small-caps;
    font-weight: 250;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}

h2 {
    color: #000000;
    font-variant: small-caps;
    font-weight: 250;
    font-size: 22px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
}

.journal {
    color: #000000;
    font-weight: 600;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 40px;
}

.responsive-image {
    max-width: 100%;
    height: 220px;
    float: center;
    margin-right: 40px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .responsive-image {
        order: -11;
        float: center;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

#content {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
}

#clear-about {
    clear: both;
}

ul {
    color: #000000;
    padding: 0;
    line-height: 25px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    list-style-type: none;
}

ul li {
    margin-bottom: 30px; /* Adjust this value to increase or decrease spacing */
  }

