body{
    background-color: #ffffff; 
    font-family: "Computer Modern Serif", serif; /* "system-ui", sans-serif; /*"Palatino"/* */ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

footer{
    margin-top: auto;
    margin-bottom: 20px;
    margin-top: 60px
}

details{
    margin-bottom: 40px;
}

details > *:not(summary){
    margin-left: 40px;
    color: #747474;
    font-size: 16px;
}

a {
    position: relative;
    font-weight: 300;
    color: #a4a4a4; /* brown: #ac4857, pine green: #128e81, seagreen: #3d9874*/
    text-decoration: none;
}
  
a:hover {
    color: rgb(64, 141, 112); /* red: #ff4964, cerise: #ff5d75 */
}
  
/* a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eb546b; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
} */

b {
    text-decoration: none;
    color: #292929;
    font-size: 18px;
    font-weight: 200;
}

p {
    color: #292929;
    line-height: 25px;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 40px;
}

h1 {
    color: #292929;
    font-weight: 500;
    font-size: 27px;
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    color: #292929;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 30px;
}

nav {
    max-width: 500px;
    float: center;
    margin: auto;
}

img {
    display: block;
    float: right;
    margin-left: auto;
    width: auto;
    height: 200px;
    padding: 10px;
}

#content {
     max-width: 800px;
     margin-left: 10%;
     margin-top: 40px;
}

#clear-about {
    clear: both;
}

::selection {
  background: #E0E0E0; /* green: #C7E5D9, pink: #F5D7DE */
}

hr { 
    background-color: #ededed; 
    height: 1px; 
    border: 0; 
}

ul {
    color: #292929;
    padding: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}



