body {
    background-color: #F7F4F3;
}

a {
    text-decoration:underline;
    color: #242423;
    font-size: 14px;
    font-family: 'menlo';
    font-weight: lighter;
}

p {
    color: #242423;
    font-size: 14px;
    font-family: 'menlo';
    font-weight: lighter;
}


h1 {
    max-width: 500px;
    margin: auto;
    color: #242423;
    font-family: 'helvetica';
    font-weight: normal;
    font-size: 24px;
    margin-top: 5%;
}

nav {
    max-width: 500px;
    margin: auto;
}

/* about.html */
.border-about {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: none;
    border-width: 1px;
    text-align: center;
}

img {
    width: 350px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#image-about {
    max-width: 500px;
    margin: auto;
    float: center;
    width: auto;
    padding-top: 2px;
}

#text-about {
    max-width: 500px;
    margin: auto;
    float: center;
    width: auto;
    padding-top: 2px;
}

#clear-about {
    clear: both;
}
